.title {
  color: $color-dark;

  &--main {
    font-size: rem(30);
    color: $color-light;

    @include tablet {
      font-size: rem(40);
      color: $color-dark;
    }
    @include display {
      font-size: rem(60);
    }
  }
  &--secondary {
    font-weight: 300;
    font-size: $font-large;
  }
}

.uppercase {
  text-transform: uppercase;
}

.small {
  font-size: $font-small;
  line-height: rem(25);
}
