<footer class="footer">
  <div class="footer__icons">
    <ul class="list__icons">
      <li>
        <a href="https://www.linkedin.com/in/marisol-pena-gomez/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
       <li>
        <a href="https://github.com/masopego" target="_blank">
            <i class="fab fa-github"></i>
        </a>
      </li>
       <li>
        <a href="https://twitter.com/PgMarisol" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
  <small class="footer__copy">
    &copy; Made with <i class="fas fa-heart"></i> by masopego
  </small>
  <small class="footer__reference">
  Icon by Icons8
  </small>
</footer>
