<main class="main">
  <section class="main__firstcolumn">
    <div class="education">
      <h2 class="uppercase title title--secondary"><i class="fas fa-circle"></i>formación</i></h2>
      <ul class="education__list">
        <li>
          <h3 class="uppercase title title--tertiary"> adalab digital</h3>
          <p class="small subtitle"><em>Curso Intensivo de Desarrollo Front-End</em> // 2020</p>
          <ul>
            <li class="small">
            Maquetación: HTML5, CSS3, Flexbox, CSS Grid, SASS, Bootstrap.
            </li class="small">
            <li class="small">Programación Web: Vanilla JavaScript y servicios web (APIS) de terceros, React, etc.</li>
            <li class="small"> Control de versiones con Git, Github.</li>
            <li class="small">Manejo de Slack, Trello, VS Code, Gulp, Terminal, Linter, Zeplin.</li>
            <li class="small">Filosofía Agile y marco de trabajo Scrum</li>
          </ul>
        </li>
        <li>
          <h3 class="uppercase title">Máster en Decision Making & Innovation</h3>
          <p class="small subtitle"><em>Universidad de Alcalá</em> // 2018-2019</p>
        </li>
        <li>
        <h3 class="uppercase title">Grado en Periodismo</h3>
        <p class="small"><em>Universidad de Málaga</em>  // 2012-2016</p>
        <p class="small subtitle"><em>Erasmus+: Coventry University (Reino Unido)</em>  // 2014-2015</p>
        </li>
      </ul>
    </div>
    <div class="skills">
      <h2 class="uppercase title title--secondary"><i class="fas fa-circle"></i>Habilidades</h2>
      <ul class="skills__list">
        <li class="uppercase skills__list--items item">HTML5</li>    
        <li class="uppercase skills__list--items item">CSS3</li> 
        <li class="uppercase skills__list--items item">SCSS</li> 
        <li class="uppercase skills__list--items item">JavaScript</li> 
        <li class="uppercase skills__list--items item">React</li> 
        <li class="uppercase skills__list--items item">FlexBox</li> 
        <li class="uppercase skills__list--items item">CSS Grid</li> 
        <li class="uppercase skills__list--items item">TypeScript</li> 
        <li class="uppercase skills__list--items item">Git</li> 
      </ul>
      <ul class="skills__list">
        <li class="skills__list--items item2">Comunicación Eficaz</li>
        <li class="skills__list--items item2">Atención al detalle</li>
        <li class="skills__list--items item2">Facilidad de Aprendizaje</li>
        <li class="skills__list--items item2">Resolutiva</li>
        <li class="skills__list--items item2">Visión Crítica</li>
        <li class="skills__list--items item2">Trabajo en equipo</li>
        <li class="skills__list--items item2">Inglés medio-alto</li>
      </ul>
    </div>
  </section>
  <section class="main__secondcolumn">
    <div class="projects">
      <h2 class="uppercase title title--secondary"><i class="fas fa-circle"></i>proyectos</h2>
      <ul>
        <li>
          <a href="https://todotours-com.vercel.app/" target="_blank">
             <h3 class="uppercase title">TodoTours.com <i class="fas fa-link"></i></h3>
           </a>
             <p class="small">Web de Tours por Madrid <span>Uso de <strong>React, Typescript y Styled Components</strong></span></p>
         </li>
        <li>
          <a href="https://github.com/masopego/rick-and-morty-search" target="_blank">
             <h3 class="uppercase title">Rick and Morty Search <i class="fas fa-link"></i></h3>
           </a>
             <p class="small">Buscador de personajes de la serie Rick and Morty <span>Uso de <strong>HTML5, SCSS, Javascritpt, React</strong> y Git para el control de versiones.</span></p>
         </li>
        <li>
          <a href="https://github.com/masopego/masopego-series" target="_blank">
             <h3 class="uppercase title">Masopego Series <i class="fas fa-link"></i></h3>
           </a>
             <p class="small">Buscador de series para guardar listas de favoritos<span>Uso de <strong>HTML5, SCSS, Javascript</strong> y Git para el control de versiones.</span></p>
         </li>
        <li>
          <a href="https://github.com/Adalab/Project-PromoJ-Modulo-2-Team-5" target="_blank">
            <h3 class="uppercase title">Botanical Profile Cards <i class="fas fa-link"></i></h3>
          </a>
          <p class="small">Web grupal para generar tarjetas de visita personalizadas. <span>Desarrollada en <strong>HTML5, SCSS, Javascript</strong>.</span></p>
        </li>
        <li>
          <a href="https://github.com/masopego/Anonymous-Snow" target="_blank">
             <h3 class="uppercase title">Anonymous Snow <i class="fas fa-link"></i></h3>
           </a>
             <p class="small">Web responsive con animaciones CSS3. <span>Uso de <strong>HTML5, SCSS, Flexbox, CSS Grid</strong> y Git para el control de versiones.</span></p>
         </li>
      </ul>
    </div>
    <div class="experience">
       <h2 class="uppercase title title--secondary"><i class="fas fa-circle"></i>experiencia</h2>
       <ul>
       <li>
          <h3 class="uppercase title">Marketing Automation Developer</h3>
          <h4>Nateevo // 2021- Actualidad</h4>
          <p class="small"> 
          Gestión de comunicaciones a través de la plataforma Salesforce: Programación dinámica avanzada con AMPscript, creación de Journeys, trabajo con SQL Querys y maquetación de emails con HTML y CSS</p>
        </li>
        <li>
          <h3 class="uppercase title">Communication and Content Specialist</h3>
          <h4>The Cocktail // 2019-2020</h4>
          <p class="small">Técnico de Comunicación Interna, conceptualización de ideas y redacción de contenido orientado a la experiencia de usuario en productos digitales. Gestión y organización de eventos internos, contacto y gestión de proveedores. </p>
        </li>
         <li>
          <h3 class="uppercase title">Copywriter and Content Specialist</h3>
          <h4>Telefónica // 2017-2018 / 2018-2019</h4>
          <p class="small">Conceptualización y creación de copy publicitario para patrocinio cultural y deportivo. Redacción de artículos sobre tecnología, medio ambiente y ciencia para Blog ThinkBig</p>
        </li>
       </ul>
    </div>
  </section>
</main>
