<nav class="social__menu">
    <ul class="social__list">
        <li>
          <a href="tel:+34673007249" target="_blank">
            <i class="fas fa-phone-alt"></i>
            <span> 673 00 72 49 </span>
          </a>
        </li> 
        <li>
          <a href="mailto:masopego@gmail.com" target="_blank">
            <i class="far fa-envelope"></i>
            <span>masopego@gmail.com </span>
          </a>
        </li> 
        <li>
          <a href="https://www.linkedin.com/in/marisol-pena-gomez/" target="_blank">
            <i class="fab fa-linkedin"></i>
            <span>Marisol Peña</span>
          </a>
        </li> 
        <li>
          <a href="" target="_blank">
            <i class="fab fa-github"></i>
            <span>masopego </span>
          </a>
        </li>
    </ul>
</nav>