//Breakpoints

$tablet: 768px;
$display: 1200px;

// Font sizes

$font-regular: 16;
$font-small: rem(14);
$font-medium: rem(20);
$font-large: rem(24);
// fonts
$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Merriweather', serif;

// colors
$color-light: #ffffff;
$color-neutral: #999;
$color-dark: #000000;
$color-main: #ffd221;
$color-secondary: #ffb900;
$color-tertiary: #ffd542;
