.footer {
  height: rem(100);
  background-color: $color-dark;
  color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & .list__icons {
    display: flex;
    flex-direction: row;

    & li {
      margin: rem(10) rem(20) 0;

      a {
        transition: color 0.5s ease-in;
        &:hover {
          color: $color-tertiary;
        }
      }
    }
  }
  &__copy {
    & .fas {
      color: red;
    }
  }

  &__reference {
    font-size: rem(10);
  }
}
