.header {
  height: 500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  & .image {
    position: absolute;
    z-index: 999;
  }

  & .background-half {
    background-color: #f9d444;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    .computer {
      height: 100%;
      position: absolute;
      top: 0;
      @include tablet {
        background: none;
        display: inline-block;
      }
    }
    @include tablet {
      width: 70%;
    }

    .image__container {
      width: rem(200);
      height: rem(200);
      border-radius: 50%;
      z-index: 999;
      overflow: hidden;
      background-color: $color-light;
      margin: 80px auto;
      & img {
        width: 100%;
        transform: translate(rem(0), rem(0));
        animation-name: photo-move;
        animation-duration: 2s;
        animation-iteration-count: 1;
      }

      @include tablet {
        top: rem(160);
        position: absolute;
        right: 120px;
        margin: 0;
      }
      @include display {
        top: rem(50);
      }
    }

    .quote {
      display: none;

      @include display {
        display: inline-block;
        position: absolute;
        bottom: rem(0);
        margin: rem(0) rem(20) rem(30) rem(20);
        width: rem(300);
        left: rem(300);
        font-family: $font-secondary;
      }

      span {
        font-weight: bold;
      }
    }
  }

  & .text__container {
    margin-right: rem(20);
    z-index: 1;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: rem(100);
    align-items: center;
    width: 100%;

    @include tablet {
      width: 30%;
      right: 0;
      top: 0;
      z-index: 999;
      align-items: flex-start;
      transform: translate(rem(-40));
      padding-bottom: rem(0);
    }

    .title--main {
      padding: rem(15) 0;

      @include display {
        margin: 0;
      }

      & .firstname {
        background: black;
        padding: rem(5);

        @include tablet {
          background: none;
          display: block;
        }
      }
      & .lastname {
        color: $color-dark;
        background: white;
        padding: rem(5);

        @include tablet {
          background: none;
          display: block;
        }
      }
    }

    .title--secondary {
      color: $color-light;
      @include tablet {
        color: $color-dark;
        & span {
          display: block;
        }
      }
    }

    .text {
      display: none;

      @include tablet {
        display: none;
      }

      @include display {
        display: inline-block;
        padding-top: rem(10);
        margin-bottom: rem(10);
        font-family: $font-secondary;
        line-height: rem(24);
      }
    }
  }
}

@keyframes photo-move {
  from {
    transform: translate(rem(0), rem(60));
  }
  to {
    transform: translate(rem(0), rem(0));
  }
}
