.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: rem(30);
  margin-right: rem(30);
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__firstcolumn {
    @include tablet {
      grid-column: 1/2;
    }
  }

  &__secondcolumn {
    @include tablet {
      grid-column: 2/3;
    }
  }
}
