.social__menu {
  background-color: $color-dark;
  color: $color-light;
  padding: rem(20) 0;

  .social__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @include tablet {
      justify-content: space-between;
      margin: 0 rem(30);
    }

    & span {
      display: none;

      @include tablet {
        margin-left: rem(5);
        display: inline-block;
      }
    }

    a {
      transition: color 0.5s ease-in;
      &:hover {
        color: $color-tertiary;
      }
    }
  }
}
